
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

label {
  font-weight: bold;
  margin-top: 10px;
}

input[type="text"],
textarea {
  width: 150%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #d4f30c;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #ddff00;
}


.search {
  text-align: center;
  margin-top: 20px;
}

.search-icon {
  margin: 10px 0;
}

#search-input {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-form input[type="submit"],
#cancel-btn {
  padding: 5px 10px;
  margin-top: 5px;
  background-color: #ddeb12;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-form input[type="submit"]:hover,
#cancel-btn:hover {
  background-color: #f6ff00;
}

.footer {
  background-color: #c8e50c;
  padding: 20px;
  color: white;
  text-align: center;
}

.contact-button {
  background-color: white;
  color: #e5e911;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.contact-button:hover {
  background-color: #e4f40b;
  color: white;
}
